.DS_Store*
__MACOSX
ehthumbs.db
Icon?
Desktop.ini
Thumbs.db
*.o
*.pyc
*.png
font-awesome
configure
COPYING
INSTALL
aclocal.m4
autom4te.cache
depcomp
install-sh
missing
compile
Makefile.in
config.log
config.status
version.h
.deps
config.guess
config.sub
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
libtool
*.gcda
*.gcno
.dirstamp
Makefile
tests/unit_tests