Source: font-awesome
Maintainer: Joshua Farr <josh@creativemarket.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: font-awesome
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${dist:Depends}
Description: font rendering library.